.cars{
background-color: white;
  border-radius: 5px;
  overflow: hidden;
  outline: 1px solid rgba(195, 195, 195, 0.619);  
}
.cars:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

}
.carimg{
    height: 180px;
    width: auto;
    border-radius: 4px;
}
.row{
    overflow: auto;
}
p.cardetails{
}
.bookNow-txt{
  text-decoration: none;
}
Link:hover{
  text-decoration: none;
  color: aliceblue;
}
.car-content{

  border-left: 5px solid rgba(73, 73, 73, 0.401);
  justify-content: center;
  background-color: rgba(98, 98, 98, 0);
}
.car-txt{
  transform:translateX(10px);
  padding:0 !important;
  cursor:default;
  font-weight: bold;
  text-transform: capitalize;
  margin: 5px;
  text-align: left;
}
.rent-txt{
  transform:translateX(15px);
  padding:0 !important;
  text-transform: capitalize;
  font-weight:500;
  text-align: left;
}
.sub_header_row{
  background: rgb(35,35,35);
background: linear-gradient(180deg, rgb(36, 36, 36) 0%, rgb(78, 78, 78) 48%, rgba(103, 102, 102, 0.931) 100%);
}
.rangepicker{
  
  border:'8px solid #39A2DB';
  border-radius: 20px;
}
::placeholder .rangepicker{
  color: aqua;
}
::-webkit-input-placeholder{
  color: tomato;
}

.RangePicker{
  color: black !important;
  font-weight: 100;
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}